.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.cabecalho__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.cabecalho__label, .cabecalho__lista, .cabecalho__lista-login {
    display: flex;
    align-items: center;
}

.cabecalho__titulo {
    margin-left: 1rem;
    font-size: 18px;
    color: var(-cinza-escuro);
}

.cabecalho__lista {
    margin: 0 auto 0 5rem;
}

.cabecalho__link {
    text-decoration: none;
    color: var(--cinza-claro);
    margin-left: 2rem;
}

.cabecalho__link-login {
    text-decoration: none;
    color: var(--cinza-claro);
}

.cabecalho__link-destaque {
    margin-left: 2rem;
    padding: 1em;
    color: #FFF;
    background-color: var(--vermelho-escuro);
    border-radius: 10px;
}