.sobre-nos {
    text-align: center;
    margin: 2rem 0;
    top: auto;

    .subtitulo {
        font-weight: 600;
        color: var(--vermelho-escuro);
    }
    
    .subtitulo__destaque {
        font-weight: 600;
        font-size: 48px;
        color: var(--preto-claro);
        margin: 2rem 0;
    }
    
    .paragrafo {
        color: var(--cinza-claro);
        font-weight: 400;
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
    }
    
    .dados {
        margin: 5rem 0;

        &__item {
            margin: 2rem;

            .dados__quantidade {
                font-weight: 600;
                font-size: 60px;
                color: var(--vermelho-escuro);
            }

            .dados__titulo {
                font-size: 18px;
                color: var(--preto-claro);
            }

            .dados__paragrafo {
                font-weight: 400;
                color: var(--cinza-claro);
            }
        }
    }
}

@media screen and (min-width: 1020px) {
    .sobre-nos .paragrafo {
        width: 60%;
    }

    .dados {
        display: flex;
        padding: 0 5rem;

        .dados__item {
            text-align: left;
        }
    }
}