.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.container__botao {
    display: none;
}

.cabecalho__menu-hamburguer {
    width: 50px;
    height: 50px;
    background-image: url(../img/menu-hamburguer.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding-left: 1.5em;
}            

.logo {
    display: none;
}

.cabecalho__titulo {
    display: none;
}

.cabecalho__nav {
    display: none;
        position: absolute;
    top: 100%;
    width: 70vw;
    background-color: var(--branco);
}

.cabecalho__item {
    padding: 1rem 1.7rem;
}

.cabecalho__link {
    text-decoration: none;
    color: var(--cinza-claro) ;
}

.container__botao:checked ~ .cabecalho__nav {
    display: block;
}

@media screen and (min-width: 1020px) {
    .container {
        justify-content: space-around;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }         

    .cabecalho__logo {
        display: flex;
        align-items: center;
        margin: 0 2em 0 5em;
    }

    .logo {
        display: block;
        margin-right: .5em;
    }

    .cabecalho__titulo {
        display: block;
        min-width: 106px;
    }

    .cabecalho__nav {
        display: block;
        position: relative;
        top: auto;
    }

    .cabecalho__lista {
        margin-left: 1em;
    }

    .cabecalho__item {
        display: inline-block;
        padding: 0 1em;
    }

    .cabecalho__botoes {
        display: flex;
        margin-right: 5em;
    }
}

