@import 'cabecalho.css';
@import 'conteudo.css';
@import 'rodape.css';

:root {
    --fonte-padrao: 'Inter', sans-serif;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --vermelho-escuro: #8E2424;
    --vermelho-claro: rgba(142, 36, 36, 0.05);
    --branco: #FFF;
    --branco-escuro: #F9FAFB;
    --preto-claro: #101828;
}

body {
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
}

.btn {
    background-color: transparent;
    border: none;
    font-family: var(--font-padrao);
    font-size: 16px;
    font-weight: 500;
    margin: 0 1em;
}

.btn-destaque {
    color: var(--branco);
    background-color: var(--vermelho-escuro);
    padding: .8em 1em .8em 1em;
    border-radius: 10px;
}