@import 'cabecalho.css';
@import 'conteudo.css';

:root {
    --fonte-padrao: 'Inter', sans-serif;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --vermelho-escuro: #8E2424;
    --vermelho-claro: rgba(142, 36, 36, 0.05);
    --branco: #FFF;
    --preto-claro: #101828;
}

body {
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
}